/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*   My styles    */

.navbar {
    background-color: #222;
    border-color: #222;
    width: 100%;
    height: auto;
    z-index: 1000;
    position: sticky;
    min-height: 50px;
    margin-bottom: 22px;
    display: block;
    padding: 2px 0px 2px 0px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; 
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    height: min-content;
    border-top: green;
    border-top-style: groove;
}
html {
    height: 100%;
    width: 100%;
}

hr {
    border: none;
    background-color: green;
}

body {
    background-image: url('../img/bg.png');
    background-repeat: round;
    background-position: right top;
    height: 100vh;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: #9d9d9d;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.listItem:hover {
    background-color: #222; 
    border-bottom: 2px solid green;
}

body {
    font-family: Verdana,sans-serif;
    height: 100vh;
    margin: 0 0 0 0;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}
/*    Individual settings    */

.navbar-item-login:hover {
    color: #5A44FF !important;
}
.navbar-item-register:hover {
    color: #D000FF !important;
}

.post-element {
    float: left;
    padding: 5px 5px 5px 5px;
}

.container {
    width: 90%;
    height: 90%;
}

.registration-form {
    width: 99%;
    height: 99%;
}

.registration-container, .account-container {
    width: 33.33%;
    float: left;
    margin-right: 40px;
    height: min-content;
    padding: 15px 30px 30px 30px;
    background-color: transparent;   /*#A1DD9E;*/
    opacity: 0.8;
    color: #9d9d9d;
    border: none;
    border-left: 3px solid green;
    box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.2);
}
.registration-container {
    float: right !important;
}
.inp input {
    background-color: transparent;
    border: none;
    border-left: 2px solid green;
    padding-left: 3px;
    color: green;   
}

.x6 {
    width: 49%;
    display: grid;
    margin-right: 2px;
    float: left;
    padding-top: 8px;

}
.x12 {
    width: 98.5%;
    display: grid;
    padding-top: 8px;
}
.y20 {
    height: 100px;
}

.form-btn {
    background-color: transparent;
    border: 1px solid green;
    border-radius: 30px;
    color: green;
    padding: 5px 10px 5px 10px;
    font-family: Verdana,sans-serif;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    cursor: pointer;

}

.login-form {
    display: -webkit-inline-box;
    margin-top: 13px;
    float: right;
}

.login-form div {
    margin-right: 3px;
    border-left: 4px groove green;
    padding-left: 2px;
}
.no-hover:hover {
    border: none;
}

.login-email {
    background-color: #222;
    color: green;
    border: none;
    border-left: green;
}
.login-pass {
    background-color: #222;
    color: green;
    border: none;
    border-left: 1px green ;
}
.login-btn {
    background-color: #222;
    color: green;
    border-color: green;
    cursor: pointer;
}

.logout-btn {
    background-color: #222;
    color: #9d9d9d;
    border: none;
    cursor: pointer;
}

.btn {
    background-color: none;
    color: black;
    border-color: green;
    cursor: pointer;
}

#pos {
    width: 33%;
    height: 300px;
    background-color: transparent;
    border: 2px solid green;
    margin-right: 33%;
    float: right;
    border-right: none;
    border-bottom: none;
    border-top: none;
    padding-left: 10px;
    box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.2);
    color: green;
}
#uplo {
    color: #9d9d9d;
    font-size: 30px;
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: green;
}

.post-container {
    width: 90%;
    padding-left: 5%;
}
.img-container {
    width: 90%;
    margin-left: 5%;
    height: auto;
}
.img-container img {
    height: auto;
    width: 100%;
}
.post {
    width: 300px;
    margin-right: 2.5%;
    margin-bottom: 15px;
    border: 2px solid green;
    box-shadow: 0px 8px 8px 8px rgba(0,0,0,0.2);
    color: #9d9d9d;
    text-align: center;
    display: inline-block;
    vertical-align: top;

}
.leermas {
    float: right;
    margin: 10px;
    text-decoration: none;
    color: green;
    border-left: 1px solid green;
    padding-left: 5px;
}
.descr {
    float: left;
    margin: 10px;
    text-decoration: none;
    color: green;
    border-left: 1px solid green;
    padding-left: 5px;
}
.title {
    margin-bottom: 5px;
}
.close-btn {
    text-decoration: none;
    background: transparent;
    border: none;
    color: green;
    font-size: 16px;
    position: absolute;
    font-weight: bold;
    cursor: pointer;
}

.intro {
    width: 30%;
    margin: 0 10% 10px 40px;
    margin-right: 10%;
    margin-left: 6.5%;
    text-align: left;
    font-size: 30px;
    box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.2);
    overflow: hidden;
    color: #9d9d9d;
}
.intro span {
    color: green;
}

.slider {
    width: 88%;
    margin-left: 6.5%;
    height: auto;
    margin-top: 6%;
}

.row1 {
    width: 90%;
    display: -webkit-box;
    height: 400px;
    margin-top: 30px;
}

.drop-down {

}
.drop-down-content {
    display: none;
    position: absolute;
    background-color: #222;
    color: #9d9d9d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.drop-down:hover .drop-down-content {
    display: block;
}
.drop-down-content:hover {
    display: block;
}

.myacc {
    float: right !important;
}
.drop-down-content a, .drop-down-content form {
    border-top: 1px solid green;
}

.logoutformm {
    display: block;
    color: #9d9d9d;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
.logoutformm input {
    font-size: 16px;
}

.account-container {
    margin-left: 33%;
}

.error, .success, .exito , .OK{
    font-size: 16px;
    opacity: 1;
    padding: 10px 0 10px 10px;
    margin-left: 10%;
    width: 80%;
    font-family: Verdana,sans-serif;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 50px;
}
.error {
    color: #a94442;
    background-color: rgba(242, 222, 222, 0.3);
    border-color: #ebccd1;
}
.success , .exito, .OK{
    color: #3c763d;
    background-color: rgba(223, 240, 216, 0.3);
    border-color: #d6e9c6;
}

.slider {
    padding: 5px;
    border: 2px solid green;
    box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.2);
}
.mySlides {
    margin-left: 20%;
    height: auto;
    width: 60%;
}

.only {
    margin-left: 25%; 
    width: 50%;
}

.btn-edit {
    text-decoration: none;
    border: 1px solid green;
    color: green;
    background-color: transparent;
    font-size: 16px;
}